html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: 0;
}

legend {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}



body {
  margin: 0;
}

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

img {
  border-style: none;
}

/* Top Bar
============================================================================= */
.top_container
{
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin: 0px;
  padding: 5px;
  text-align: center
}

label.logo{
  color: rgb(251, 94, 2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 200%;
  line-height: 100px;
  padding: 0px;
  margin-bottom: 2px;
  font-weight: bolder;    
}

p
{
  padding: 2px;
  margin:0 0 0 0px;   
  font-size: 16 px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  color:#f3f3f3;
}

/* Selection Form
============================================================================= */
button,
input,  
optgroup,
select,
textarea {
  font-family: sans-serif;  
  font-size: 100%;  
  line-height: 1.15;  
  margin: 0;  
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

/*=====  Page Elements  ======*/
.s008 {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-pack: relative;
      justify-content: center;
  -ms-flex-align: center;
      align-items: relative;
  background: url("../../images/Antenas-jpl.jpg");
  background-size: cover;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}


/*=====  Search Form ======*/
.s008 form {
  width: 100%;
  max-width: 900px;  
  margin: 0;
}

.s008 form .inner-form {
  width: 100%;
  max-width: 900px;
}

.s008 form .inner-form .input-field {
  position: relative;
}

.s008 form .inner-form .input-field input {
  height: 100%;
  border: 0;
  background: rgb(212, 212, 211);
  display: block;
  width: 100%;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  color: rgb(95, 51, 1);
  border-radius: 3px;
  height: 70px;
  color: #555;
}

.s008 form .inner-form .input-field input.placeholder {
  color: rgb(15, 1, 1);
  font-size: 18px;
}

.s008 form .inner-form .input-field input:-moz-placeholder {
  color: #999;
  font-size: 24px;
}

.s008 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #999;
  font-size: 18px;
}

.s008 form .inner-form .input-field input:hover, .s008 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

/*=====  Search Button  ======*/
.s008 form .inner-form .input-field .btn-search {
  min-width: 100px;
  height: 40px;
  padding: 0 15px;
  background: #ec8908;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

.s008 form .inner-form .input-field .btn-search:hover {
  background: #c23903;
}
/*=====  Reset Button  ======*/
.s008 form .inner-form .input-field .btn-delete {
  min-width: 100px;
  height: 40px;
  padding: 0 15px;
  background: #333333;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

.s008 form .inner-form .input-field .btn-delete:hover {
  background: #f50404; 
}

/*=====  Wild Card Search Box  ======*/
.s008 form .inner-form .basic-search {
  margin-bottom: 5px;  
}
.s008 form .inner-form .basic-search .input-field {
  width: 100%;
  max-width: 800px;
}
.s008 form .inner-form .basic-search .input-field input {
  padding: 10px 80px 10px 40px;
}
.s008 form .inner-form .basic-search .input-field .icon-wrap {
  position: absolute;
  top: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 60px;
  height: 100%;
}
.s008 form .inner-form .basic-search .input-field .icon-wrap svg {
  width: 34px;
  height: 34px;
  fill: #e7760d
}
/*=====  Multiple Choice Advanced Search  ======*/
.s008 form .inner-form .advance-search {
  width: 100%;
  background:rgba(0, 0, 0, 0.671);
  padding: 10px;
  border-radius: 3px;  
}
.s008 form .inner-form .advance-search .desc {
  font-size: 16px;
  color: rgb(255, 255, 255);
  display: block;
  margin-bottom: 16px;
}
.s008 form .inner-form .advance-search .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
}
.s008 form .inner-form .advance-search .row.second {
  margin-bottom: 50px;
}
.s008 form .inner-form .advance-search .row.third {
  margin-bottom: 0;
}
.s008 form .inner-form .advance-search .row.third .input-field {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.s008 form .inner-form .advance-search .input-field {
  width: calc(33.3333% - 30px);
}
.s008 form .inner-form .advance-search .input-select {
  height: 48px;
}
.s008 form .inner-form .advance-search .choices__inner {
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  height: 100%;
  color: rgb(248, 184, 82);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  padding-right: 30px;
  font-size: 14px;
}
.s008 form .inner-form .advance-search .choices__inner .choices__list.choices__list--single {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  padding-top: 10px;
}

.s008 form .inner-form .advance-search .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  opacity: 1;
  color: rgb(202, 199, 199);
}
.s008 form .inner-form .advance-search .choices__inner .choices__list--single .choices__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  color: #fff;
}
.s008 form .inner-form .advance-search .choices__list.choices__list--dropdown {
  border: 0;
  background: #000;
  padding: 20px 30px;
  margin-top: 2px;
  border-radius: 4px; 
}
.s008 form .inner-form .advance-search .choices__list.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}
.s008 form .inner-form .advance-search .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: transparent;
  color: #f67700;
}
.s008 form .inner-form .advance-search .choices__list--dropdown .choices__item {
  color: rgb(248, 189, 26);
  min-height: 24px;
}
.s008 form .inner-form .advance-search .choices[data-type*="select-one"]:after {
  border: 0;
  width: 32px;
  height: 32px;
  margin: 0;
  transform: none;
  opacity: 1;
  right: 0;
  top: 10px;
  background-size: 18px 18px;
  background-position: right center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}
.s008 form .inner-form .advance-search .choices[data-type*="select-one"] .choices__button {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23e45c27' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'/%3e%3c/svg%3e");
  background-size: 16px 16px;
  background-position: right center;
  width: 32px;
  height: 32px;
  opacity: 1;
  display: none;
  top: 10px;
  right: 0;
  transform: none;
  margin: 0;
}
.s008 form .inner-form .advance-search .choices[data-type*="select-one"].valid .choices__button {
  display: block;
}
.s008 form .inner-form .advance-search .choices[data-type*="select-one"].valid .choices__button:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z'/%3e%3c/svg%3e");
}
.s008 form .inner-form .advance-search .choices[data-type*="select-one"].valid:after {
  display: none;
}
.s008 form .inner-form .advance-search .choices[data-type*="select-one"].is-open:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3e%3c/svg%3e");
}

/* Results Table */
.table-ctn {
  display: inline-block;
  padding: 5px 15px;
  width: 100%;
  max-width: 800px;
  background-color: rgba(30, 32, 32, 0.541);
  display: flex;
  justify-content: space-between;
}


.table-head {
  width: 100%;   
  padding: 5px;
  background-color: black;
  font-family:sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;


}




@media screen and (max-width: 767px) {
  .s008 form .inner-form .basic-search .input-field input {
    padding: 10px 60px 10px 40px;
  }
  .s008 form .inner-form .basic-search .input-field .icon-wrap {
    width: 60px;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .s008 form .inner-form .basic-search .input-field .icon-wrap svg {
    width: 26px;
    height: 26px;
  }
  .s008 form .inner-form .advance-search .row {
    display: block;
  }
  .s008 form .inner-form .advance-search .input-field {
    width: 100%;
    margin-bottom: 20px;
  }
}





